In [1]:
%%html
<style>
.h1_cell, .just_text {
    box-sizing: border-box;
    padding-top:5px;
    padding-bottom:5px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 125%;
    line-height: 22px; /* 5px +12px + 5px */
    text-indent: 25px;
    background-color: #fbfbea;
    padding: 10px;
    border-style: groove;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
</style>

<h1>
<center>
Module 1: Assignment
</center>
</h1>
<div class=h1_cell>

<p>In this assignment, I'll ask you to do a bit more data wrangling (AKA feature engineering) and to help implement K-NN.
<p>
</div>

<hr>
<h1>
Set up
</h1>
<div class=h1_cell>
<p>
Let's get organized. We need to read the data in. And we need to import any libraries we need.
<p>
The first step is to get the data. You can see I am reading from a file. We wrote this file as part of the content notebook this week.
<p>
FYI: When the Python kernel is grinding away on a cell, you will see a `*` where the number normally appears. The execution of the cell below for me takes a couple seconds. If it remains a `*` for a minute, you have issues. Try restarting the kernel (see the Kernel tab above).
</div>

In [12]:
import pandas as pd
import os

week = '1a'

home_path =  os.path.expanduser('~')

file_path = '/Documents/CIS/UpperDiv/CIS_399/week1/'

file_name = 'titanic_table_w'+week+'.csv'

titanic_table = pd.read_csv(home_path + file_path + file_name)

In [13]:
titanic_table.head(1)

   Survived                     Name  Length
0         0  Braund, Mr. Owen Harris      23

<hr>
<h2>
Importing libraries
</h2>
<div class=h1_cell>
<p>
We went over this in content notebook but as reminder: we want to bring in libraries that have useful functions we write during the quarter. For now, `week0` and `week1` just have silly functions so you can test your git set-up.
</div>

In [14]:
import os
home_path =  os.path.expanduser('~')
home_path

'/Users/tex'

In [5]:
library_folder = '/Documents/CIS/UpperDiv/CIS_399/datascience_2'
os.chdir(home_path + library_folder)
!git pull

Already up to date.

In [15]:
#load the lbirary from content this week

import sys
sys.path.append(home_path + library_folder)
from week1 import *
%who function

do_nothing	 foo	 python_version

In [16]:
python_version()  # just checking

'2.7'

In [17]:
#I am setting the option to see all the columns of our table as we build it, i.e., it has no max.
pd.set_option('display.max_columns', None)

In [18]:
titanic_table.head()

   Survived                                               Name  Length
0         0                            Braund, Mr. Owen Harris      23
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...      51
2         1                             Heikkinen, Miss. Laina      22
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)      44
4         0                           Allen, Mr. William Henry      24

<hr>
<h1>
Challenge 1: bag of chars
</h1>
<div class=h1_cell>
<p>
We have the Length column to use as a feature in K-NN. But it looks a little lonely. Let's add some more features. We will see a technique called bag-of-words in a future module. The general idea is to collect together all the words you see in a set of documents and give each a unique integer id. Then build a table with the columns labeled with the word ids and the rows the documents. To fill cell table[d][w], you count how many times word w appears in document d. If you have a lot of documents, you are going to have a lot of unique words, e.g., in the thousands. That's a lot of columns! With pandas, no problem.
<p>
In this challenge, I want you to try bag-of-characters (I just made that name up - I might trademark it). I want 26 new columns, one for each letter. For the text in each row['Name'], I want a count of how many times each letter appears in the name. You cold do this the tedious way and have 26 separate pieces of code. What I want to see is a loop that does it for you.
<p>
Please wrangle the Name string into lowercase. I think this is an iffy decision. It may be that uppercase letters carry information. Normalizing to lowercase washes that information out. It would really be no problem to have 52 new columns for upper and lower case. Or even add columns for punctuation. Adding columns is cheap and easy. But we will use lowercase for now.
<p>
To remind you of what we did in content notebook:
<pre>
<code>
titanic_table['Length'] = titanic_table.apply(lambda row: len(row['Name']), axis=1)
</code>
</pre>
<p>
What you need to do is do the same for 26 new columns. You will have to do something other than taking the length. And please use a loop.
</div>

In [29]:
alphabet = list('abcdefghijklmnopqrstuvwxyz')
for letter in alphabet:
    titanic_table[letter] = titanic_table.apply(lambda row: row['Name'].lower().count(letter), axis=1)

titanic_table.head()

,Survived,Name,Length,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
0,0,"Braund, Mr. Owen Harris",23,2,1,0,1,1,0,0,1,1,0,0,0,1,2,1,0,0,4,1,0,1,0,1,0,0,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",51,2,2,2,1,4,1,3,2,2,1,0,2,2,3,2,0,0,5,3,1,1,0,0,0,2,0
2,1,"Heikkinen, Miss. Laina",22,2,0,0,0,2,0,0,1,4,0,2,1,1,3,0,0,0,0,2,0,0,0,0,0,0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",44,3,0,1,0,6,1,0,2,1,1,0,5,2,0,0,1,1,2,2,2,2,0,0,0,2,0
4,0,"Allen, Mr. William Henry",24,2,0,0,0,2,0,0,1,2,0,0,4,2,2,0,0,0,2,0,0,0,0,1,0,1,0

<div class=h1_cell>
<p>
If your values don't match mine, make sure you are searching on the lowercase version of the name.
</div>

<h2>Challenge 2</h2>
<p>
<div class=h1_cell>
<p>
Let's try K-NN using our 27 new columns. The big picture is we will use those 27 columns as features in a classifier. We are trying to classify whether a person survived or not. I realize that we know already if they survived. But that is a good thing. We can pretend like we do not know, make a prediction, and then check if we were correct. We can grade ourselves in this way. I'll guide you through it.
<p>
But first, what the heck is K-NN? Well, first it is a machine learning algorithm. You can use it to predict that value of a target column. It's pretty sweet because it does not require any prior training. I tend to view it as crowd-sourcing. You treat the entire table as your crowd. Each row is a potential expert you want to solicit info from. Let's take an example. Let's say I want to predict the value of Survived for row 0. My crowd is rows 1 through 890. I want to find the experts in that crowd and have them convene to come up with a prediction for row 0 Survived. How many experts should I consult? K - the value of K is how many consultants. So 5-NN says use 5 top experts from the crowd. How do I find the K best? There are a number of ways to define best. We are going to use Euclidean Distance for now but will change in future. We treat each row as a vector of values. Staying with row 0, I'll first check the Euclidean Distance from row 0 and row 1. I'll record that some place for later. Then I'll try row 0 and row 2, again recording for later. The last step is to compare row 0 and row 890 and recording. I now have 890 recorded distances from row 0. I find the 5 rows with the smallest distance. Those are my experts!
<p>
How do the K experts decide among themselves? Simple voting. They each look in their own Survived column and vote accordingly. Majority wins. Let's go through it. I'll give you steps 1 and 2.
</div>

<h2>Step 1: need a list of features</h2>
<p>
<div class=h1_cell>
With K-NN, we can choose which features we will use to compute distance. In our case, I want all the features other than Survived and Name. I'll put the features into a list knn_features.
</div>

In [30]:
knn_features = list('abcdefghijklmnopqrstuvwxyz') + ['Length']
knn_features

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'Length']

<h2>Step 2: Convert row to vector</h2>
<p>
<div class=h1_cell>
What I would like is a list of values from a row that is the vector we will use to compute Euclidean distance. But I only want that vector to contain values from my 27 features. Let's practice on row 0. We will pretend we want to predict the value of Survived for row 0.
<p>
BTW: there is some new syntax here: the loc method. With loc, you can first list the row index (0 in our case) and then the list of columns you want from that row. Nice.
</div>

In [56]:
vector0 = titanic_table.loc[0, knn_features] # will only capture our features in row 0.
vector0

a          2
b          1
c          0
d          1
e          1
f          0
g          0
h          1
i          1
j          0
k          0
l          0
m          1
n          2
o          1
p          0
q          0
r          4
s          1
t          0
u          1
v          0
w          1
x          0
y          0
z          0
Length    23
Name: 0, dtype: object


<h2>We now have a pandas series</h2>
<p>
<div class=h1_cell>

vector0 is an instance of a pandas Series, which are kind of interesting. You can treat a series as a dictionary. You can treat a  series as a list. Let's check it out.
</div>

In [13]:
print(type(vector0))  # pandas.series

print(vector0['Length'])  # treat it like a dictionary

print(vector0[-1])  # treat it like a list

<class 'pandas.core.series.Series'>
23
23


<h2>Step 3. Build a Euclidean Distance function</h2>
<p>
<div class=h1_cell>
<p>
Here you go. You can view vector0 as p. We can build another vector q to test out your function. In essence, you will hold p steady and compare it against 890 values for q.
<p>
<img src='https://www.dropbox.com/s/9wao0kf3u32i3e9/euclidian.png?raw=1'>
</div>

In [57]:
import math
def euclidean_distance(p,q):
    distance = 0
    for i in range(0, 27):
        distance += pow(q[i] - p[i], 2)
    return math.sqrt(distance)

<div class=just_text>
Let's test it by building another vector and trying it out.
</div>

In [58]:
vector1 = titanic_table.loc[1, knn_features] # will only capture our features in row 1.

euclidean_distance(vector0, vector1)

28.792360097775937

<h2>Step 4. Find the k best rows</h2>
<p>
<div class=h1_cell>
We want to predict the Survived value for row 0. Our approach will be to find the k closest rows to row 0. By closest, I mean smallest euclidean distance. I am going to ask you to write a function top_k that will return a list of tuples that are the k closest. Each tuple has the form (row_index, distance). I'll do a couple of examples by hand below.
</div>

In [59]:
all_distances = []

all_distances.append((1, 28.792360097775937)) # I already found the distance between rows 0 and 1

all_distances

[(1, 28.792360097775937)]

In [60]:
vector2 = titanic_table.loc[2, knn_features]
all_distances.append((2, euclidean_distance(vector0, vector2)))
all_distances

[(1, 28.792360097775937), (2, 6.244997998398398)]

<div class=h1_cell>
Wow. row 2 was a lot closer!
</div>

In [61]:
vector3 = titanic_table.loc[3, knn_features]
all_distances.append((3, euclidean_distance(vector0, vector3)))

all_distances

[(1, 28.792360097775937), (2, 6.244997998398398), (3, 22.825424421026653)]

<div class=just_text>
What your top_k function has to do is fill out the all_distances list with 890 tuples.
<p>
What then? I'll tell you my approach. I sorted all_distances then sliced off k. That is what I returned.
<p>
Here is the signature line of top_k.

In [153]:
def top_k(table, features, target_row_id, k):
    all_Distances = []
    targetVector = titanic_table.loc[target_row_id, knn_features]
    for i in range(len(table)): 
        all_Distances.append((i, euclidean_distance(targetVector, titanic_table.loc[i, knn_features])))
    
    all_Distances.sort(key = lambda x: x[1])
    return all_Distances[1:k+1] ##when normalizing a vector with itself it will give 0, so start at index 1 and go to k + 1

<div class=just_text>
Let's test it out on a couple rows.
<p>
We can start with row 0. Out of the rows 1 to 890, we want the 5 closest to row 0
</div>

In [154]:
top_for_0 = top_k(titanic_table, knn_features, 0, 5)
top_for_0

[(477, 3.1622776601683795),
 (482, 3.1622776601683795),
 (804, 3.1622776601683795),
 (806, 3.1622776601683795),
 (75, 3.4641016151377544)]

<h2>We have our top 5 rows</h2>
<p>
<div class=h1_cell>

Looks like rows 477, 482, 804, 806 and 75 are the 5 closest. Let's try it for row 1; pretend we want to predict Survived for row 1. So I want to check row 1 against row 0 and rows 2 - 890.
</div>

In [90]:
top_for_1 = top_k(titanic_table, knn_features, 1, 5)
top_for_1

[(8, 5.291502622129181),
 (518, 5.5677643628300215),
 (871, 5.5677643628300215),
 (600, 5.656854249492381),
 (820, 5.656854249492381)]

<h2>Step 5. Do voting</h2>
<p>
<div class=h1_cell>
Once I have my list of top k, I can do voting. What I want is the value each consultant (row) has for Survived, the column we are trying to classify. Majority wins. If k is even, ties are possible. I'll assume that ties go to 0 (somewhat arbitrarily pessimistic). I'll start you out.
</div>

In [148]:
def knn_voting(table, target_column, topk_rows):
    countWithZero = 0
    countWithOne = 0
    for firstItem, secondItem in topk_rows:
        if table.loc[firstItem, target_column] == 0:
            countWithZero+=1
        else:
            countWithOne+=1
    if countWithZero == countWithOne:
        return 0
    
    return 0 if countWithZero > countWithOne else 1

In [146]:
knn_voting(titanic_table, 'Survived', top_for_0)

0


<div class=h1_cell>
<p>
Let's verify that answer.
</div>

In [147]:
for i,d in top_for_0:
    actual = titanic_table.loc[i,'Survived']
    print(actual)

0
0
1
0
0


<div class=h1_cell>
<p>
Looks ok. We have four 0 votes and only one 1 vote.
</div>

<h2>Challenge 3</h2>
<p>
<div class=h1_cell>
<p>
We are on the home stretch. What is left is to check out how well K-NN is working on classification. What we can do is produce predictions for all the rows. Then grab the actual values for all the rows. Zip them up and create a confusion matrix.
<p>
About computing the predictions for all rows. If you think a bit about this, the process could be slow. Looks to me like an `O(n**2)` algorithm. I'll time my version so you can compare to yours. My time: around 15 minutes, is on a relatively slow machine. But you can see the problem with `O(n**2)` algorithms!
<p>
Before jumping directly into using the whole table, try things out on the first 50 rows. Should be speedier.
</div>

In [155]:
sliced_table = titanic_table[:50]  #you can use slice operation to get specific rows

import time

start = time.time()

predictions = []
for i,row in sliced_table.iterrows():
    if i%10 == 0: print('did 10')
    top5 = top_k(sliced_table, knn_features, i, 5)
    predictions.append(knn_voting(sliced_table, 'Survived', top5))
    
end = time.time()
print(end - start)  # in seconds

did 10
did 10
did 10
did 10
did 10
4.96756505966

In [156]:
print(predictions)

[0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1]

<div class=h1_cell>
If you are matching my predictions, you are ready to step up to the big enchilada.
</div>

In [157]:
import time

start = time.time()

predictions = []
for i,row in titanic_table.iterrows():
    if i%20 == 0: print('did 20')
    top5 = top_k(titanic_table, knn_features, i, 5)
    predictions.append(knn_voting(titanic_table, 'Survived', top5))
    
end = time.time()
print(end - start)  # in seconds

did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
did 20
1287.50506186

<div class=h1_cell>
<p>
Whew. That took a little while.
<p>
The next piece is a lot easier - pull out the values from the Survived column. Then zip things up.
<p>
But before moving on, it is interesting to speculate on how to speed K-NN up. One idea might be to cache all distances. Something like a dictionary where key is a pair of row indices and value is distance, e.g., {(0,1): 28.792360097775937, ...}. We know that dictionary lookup is fast in Python. Another idea is to eliminate the non-experts. After we run through all rows, find the rows who are never in the top K. Out of all 891 rows, they never were close enough to vote. Put them on a skip-list and don't consult them in future. You can probably think of other ways.
</div>

In [158]:
actuals = titanic_table['Survived']  #easy peasy to pull a column out of a table

zipped = zip(predictions,actuals)

zipped[:5]

[(0, 0), (1, 1), (1, 1), (1, 1), (0, 0)]

<div class=h1_cell>
<p>
If you think about it, there are 4 cases in zipped: (0,0), (0,1), (1,0), (1,1). Let's package them up in a dictionary.
<p>
FYI: I always find it kind of cool that Python allows you great freedom in what you use as keys in a dictionary.
</div>

In [159]:
confusion_dictionary = {(1,1):0, (1,0):0, (0,1):0, (0,0):0}
for pair in zipped:
    confusion_dictionary[pair] += 1
confusion_dictionary

{(0, 0): 447, (0, 1): 176, (1, 0): 102, (1, 1): 166}

<div class=h1_cell>
<p>
You can align  our dictionary with the confusion matrix below. (1,0) is false positive, etc. Once you have the 4 values, you can compute a lot of interesting measures.
<p>
<img src='https://www.dropbox.com/s/zubecbzi8zsdzgg/confusion_matrix.png?raw=1'>
<p>
</div>

<h2>Compute measures</h2>
<p>
<div class=h1_cell>
<p>
Let's try our hand at computing some of the measures in the confusion matrix.
<p>
First, it will make typing simpler if we pull out the 4 core vvalues from the confusion_matrix.
<p>
Remember that division in 2.7 defaults to int division unless numerator and/or denominator is a float. So `1/2 == 0` whereas `1.0/2 == .5`. 
</div>

In [164]:
confusion_dictionary

{(0, 0): 447, (0, 1): 176, (1, 0): 102, (1, 1): 166}

In [166]:
tp = 166.0
fp = 102.0
fn = 176.0
tn = 447.0

<h3>Recall (AKA Sensitivity)</h3>

In [168]:
recall = tp / (tp + fn)

recall

0.4853801169590643

<h3>Fall-out</h3>

In [170]:
fall_out = fp / (fp + tn)

fall_out

0.18579234972677597

<h3>Precision</h3>

In [171]:
precision = tp / (tp + fp)

precision

0.6194029850746269

<h3>F1</h3>

In [172]:
f1 = 2.0 / ((1.0 / recall) + (1.0 / precision))

f1

0.5442622950819671

<h3>Accuracy</h3>

In [175]:
accuracy = (tn + tp) / 891.0

accuracy

0.6879910213243546

<h1>Kind of shocking</h1>
<p>
<div class=h1_cell>
<p>
If we just predicted a 0 for every row, we would get to .63 accuracy. So we are doing better than the mode. 
Not sure what to say. Maybe there is something in Numerology.
</div>

<h1>Let's Summarize</h1>
<p>
<div class=h1_cell>
<p>
We have learned that we can use text in classification/prediction problems. We used names, but we could have also used tweets, articles or entire books. It's all text. We will see this in future modules.
<p>
We learned that we can break out text into smaller chunks and use those chunks as columns. We used characters but later we will use words.
<p>
We learned that K-NN has some good features -- it requires no training and is fairly straightforward -- and bad features -- it is slow.
<p>
Our next big goal is to classify fake news in tweets (1 if fake, 0 if real). We will look at how to break out pieces of a tweet.
</div>

<h1>Saving your work</h1>
<p>
<div class=h1_cell>
<p>
Let's save the wrangled table.
<p>
</div>

In [173]:
import os

week = '1b'

home_path =  os.path.expanduser('~')

file_path = '/Documents/CIS/UpperDiv/CIS_399/week1/'

file_name = 'titanic_table_w'+week+'.csv'

titanic_table.to_csv(home_path + file_path + file_name, index=False)


<h1>Read it back in</h1>
<p>
<div class=h1_cell>
<p>

Read it back in just to make sure of round-trip
</div>

In [174]:
read_table = pd.read_csv(home_path + file_path + file_name)
read_table.head()

,Survived,Name,Length,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z
0,0,"Braund, Mr. Owen Harris",23,2,1,0,1,1,0,0,1,1,0,0,0,1,2,1,0,0,4,1,0,1,0,1,0,0,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",51,2,2,2,1,4,1,3,2,2,1,0,2,2,3,2,0,0,5,3,1,1,0,0,0,2,0
2,1,"Heikkinen, Miss. Laina",22,2,0,0,0,2,0,0,1,4,0,2,1,1,3,0,0,0,0,2,0,0,0,0,0,0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",44,3,0,1,0,6,1,0,2,1,1,0,5,2,0,0,1,1,2,2,2,2,0,0,0,2,0
4,0,"Allen, Mr. William Henry",24,2,0,0,0,2,0,0,1,2,0,0,4,2,2,0,0,0,2,0,0,0,0,1,0,1,0

<hr>
<h1>Next up</h1>
<div class=h1_cell>
<p>
We will start to work with fake-news.
<p>
But before dropping the Numerology idea all together, my colleague pointed me to this web site: http://www.paulsadowski.com/Numbers.asp. If I had more time, I bet I could turn K-NN loose on that site :)
</div>