In [1]:
%%html
<style>
.h1_cell, .just_text {
    box-sizing: border-box;
    padding-top:5px;
    padding-bottom:5px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 125%;
    line-height: 22px; /* 5px +12px + 5px */
    text-indent: 25px;
    background-color: #fbfbea;
    padding: 10px;
    border-style: groove;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
</style>

<h1>
<center>
Module 2 - First look at tweets
</center>
</h1>
<div class=h1_cell>
<p>
Social media is a hot spot of activity with people trying to determine what is being said in things like Facebook and Twitter. They want to know if someone is angry or not, if someone likes their product or not, if information is fake or not, if someone is breaking the rules for posting. I'd like to look at twitter in this module, and see if we can classify a tweet as carrying a hate message. I was able to round up a dataset of roughly 32K tweets in csv format, i.e., same format we used to look at passenger names on the Titanic. And the tweets are already labeled, just as Titanic data was labeled. 
<p>
Let's bring in the tweets then talk about them. But first, let's load libraries. I added pat_count function from week 1 to week2 library.

</div>

In [4]:
import os
home_path =  os.path.expanduser('~')
library_folder = '/Dropbox/cis399_ds2_w18/code_libraries/datascience_2'

In [6]:
os.chdir(home_path + library_folder)
!git pull

Already up-to-date.

In [5]:
import sys
sys.path.append(home_path + library_folder)
from week2 import *
%who function

do_nothing	 foo	 pat_count	 python_version

In [7]:
import pandas as pd
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRpZtv1ZFa7Am4j7U8S4JDYTuGkAp3rEyVh7riN8nVLEcaos_wgoAyJiRiE1oe8aITeex8BG-z6Sj5-/pub?output=csv'
tweet_table = pd.read_csv(url)

In [8]:
tweet_table.head()

   id  label                                              tweet
0   1      0  @user when a father is dysfunctional and is so...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

<div class=h1_cell>
<p>
Normally I would drop the `id` column at this point. But I am going to leave the `id` column in for now. I know it just mirrors the table index (+1). But it might make it easier to reference rows in the future.
</div>

In [9]:
len(tweet_table)

31962

<div class=h1_cell>
<p>
Now check for duplicates. Looks like we have around 2K. I don't want to mess with them now. We could later go through and wrangle them out of our table.
</div>

In [10]:
all_tweets = tweet_table['tweet']
print(len(all_tweets))
print(len(set(all_tweets)))  # set removes duplicates

31962
29509


<div class=h1_cell>
<p>
You can aee we have roughly 32K tweets/rows. Each row has a tweet and a label. The label is 1 if a human thought it was a hate-tweet and 0 if not. Our goal is to build a model that will predict whether a tweet should be labeled as hateful.
<p>
The tweets have a mixture of normal chars and emojis. The emojis are complex because they can be linked/stacked, e.g., 4 sequential bytes can be one emoji. You can see below that the print statement does this stacking and prints out 4 bytes as one emoji. When I look at the raw tweet, I can see the bytes, e.g. \xc3 is the byte containing hex c3, etc.

</div>

In [11]:
row3_raw = str(tweet_table.loc[3,'tweet'])
row3_raw

'#model   i love u take with u all the time in ur\xc3\xb0\xc2\x9f\xc2\x93\xc2\xb1!!! \xc3\xb0\xc2\x9f\xc2\x98\xc2\x99\xc3\xb0\xc2\x9f\xc2\x98\xc2\x8e\xc3\xb0\xc2\x9f\xc2\x91\xc2\x84\xc3\xb0\xc2\x9f\xc2\x91\xc2\x85\xc3\xb0\xc2\x9f\xc2\x92\xc2\xa6\xc3\xb0\xc2\x9f\xc2\x92\xc2\xa6\xc3\xb0\xc2\x9f\xc2\x92\xc2\xa6'


<div class=h1_cell>
<p>
I'll convert it to unicode - this is done automatically in Python 3.6.
<p>

</div>

In [12]:
row3_u = unicode(row3_raw, 'utf8')
row3_u

u'#model   i love u take with u all the time in ur\xf0\x9f\x93\xb1!!! \xf0\x9f\x98\x99\xf0\x9f\x98\x8e\xf0\x9f\x91\x84\xf0\x9f\x91\x85\xf0\x9f\x92\xa6\xf0\x9f\x92\xa6\xf0\x9f\x92\xa6'

In [13]:
print(row3_u)  # you can see the print function can do some parsing of those hex codes

#model   i love u take with u all the time in urð±!!! ððððð¦ð¦ð¦

<h2>
No emojis for now
</h2>
<div class=h1_cell>
<p>
I am going to put off trying to deal with emojis. I think it is a bit of a side-track at this point. But we may want to return to it later. I could see that emojis are a kind of "emotional language" that might be able to signal intent.
<p>
If you are interested, below are the emoji codes that I found for row3_u using 4 byte-sequences. But big caveat. One of my grad students believes that the actual Emoji is a phone that stacks more than 4 bytes. If anyone believes they can parse `row3_u` (and ones like it) with a regex pattern, happy to give you extra credit.
</div>

\xf0\x9f\x93\xb1 https://apps.timwhitlock.info/unicode/inspect/hex/1F631    1F600-1F64F
 
\xf0\x9f\x98\x99	http://www.unicode.org/Public/UNIDATA/NamesList.txt KISSING FACE WITH SMILING EYES
 
\xf0\x9f\x98\x8e 1F60E	SMILING FACE WITH SUNGLASSES
 
\xf0\x9f\x98\x84  https://apps.timwhitlock.info/unicode/inspect/hex/1F444  1F300-1F5FF
 
\xf0\x9f\x91\x85   https://apps.timwhitlock.info/unicode/inspect/hex/1F445   1F300-1F5FF

\xf0\x9f\x92\xa6  https://apps.timwhitlock.info/unicode/inspect/hex/1F4A6     1F300-1F5FF

<h2>
Steal an idea from Titanic
</h2>
<div class=h1_cell>
<p>
I have convinced myself that there is something about length of names or Numerology that gives us a clue. We took the length of a passenger name as a feature last module. Let's add a column for length of tweet in this module.

</div>

In [14]:
tweet_table['length'] = tweet_table.apply(lambda row: len(row['tweet']), axis=1)

In [15]:
tweet_table.head()

   id  label                                              tweet  length
0   1      0  @user when a father is dysfunctional and is so...     101
1   2      0  @user @user thanks for #lyft credit i can't us...     122
2   3      0                                bihday your majesty      19
3   4      0  #model   i love u take with u all the time in ...     116
4   5      0             factsguide: society now    #motivation      38

<h2>
A bit of regex hacking
</h2>
<div class=h1_cell>
<p>
We are going to see that built-in libraries can do a lot of text parsing for us. But it is always good to be able to build our own parsers. I am going to ask you to get your feet wet with using regular expressions to pull information out of a tweet. What I want are a count of hashtags and a count of exclamation points.
<p>
BTW: you might find this site useful for testing your regular expressions: https://pythex.org/.
</div>

In [16]:
import re  # Also see regex library for more functionality

<h2>
Let's build a general pattern counter
</h2>
<div class=h1_cell>
<p>
What I want is to count how many times a certain pattern appears in a tweet. I'll first compile the pattern then use the `findall` function to give a list of matches. Finally, I'll take the length of that list.
<p>
It seems efficient to first compile the pattern we are looking for then use it over and over in a counter function. I am going to do this by using a Python closure to hold the compiled pattern. I suppose you could do something similar by defining a class and giving it internal state. But I am not a huge fan of OOP when something simpler will work.
</div>

In [18]:
def pat_count(pattern):
    pat = re.compile(pattern)
    
    def the_counter(tweet):
        pat_count = len(re.findall(pat,tweet))  # findall returns a list of all matches
        return pat_count
    
    return the_counter  # returns a function as a value

<div class=h1_cell>
<p>
I'll give you the bang pattern - it is simple. Note that I am prefixing the pattern string with an r. You want to do this. It tells the re functions to treat special characters in the string as pattern matching. We have no special characters in the bang pattern so could skip the r. But it is a good practice to always use it when building a pattern matching string.
<p>Jargon alert: the term *bang* is geeky for exclamation point.
</div>

In [19]:
test_tweet = '! #yes ! #no yes no #youwin youwin!!'

bang_counter = pat_count(r'!')

bang_counter(test_tweet)

4

<h1>
Challenge 1 - write a hashtag pattern
</h1>
<div class=h1_cell>
<p>
For the hashtag pattern, you might be tempted to use this: r'#'. In fact, that will work. But I would like you to figure out how to get the entire hashtag. You will need the entire tag soon.
</div>

In [20]:
hash_pat = 

re.findall(hash_pat, test_tweet)

['#yes', '#no', '#youwin']

In [21]:
hash_counter = pat_count(hash_pat)

hash_counter(test_tweet)

3

<h1>
Challenge 2 - wrangle 2 new columns
</h1>
<div class=h1_cell>
<p>
Go ahead and add the new columns `bang_count` and `hash_count`.
</div>

In [22]:
#add bang_count

In [23]:
tweet_table.head(5)

,id,label,tweet,length,bang_count
0,1,0,@user when a father is dysfunctional and is so...,101,0
1,2,0,@user @user thanks for #lyft credit i can't us...,122,0
2,3,0,bihday your majesty,19,0
3,4,0,#model i love u take with u all the time in ...,116,3
4,5,0,factsguide: society now #motivation,38,0

In [24]:
#add hash_count

In [25]:
tweet_table.head(5)

,id,label,tweet,length,bang_count,hash_count
0,1,0,@user when a father is dysfunctional and is so...,101,0,1
1,2,0,@user @user thanks for #lyft credit i can't us...,122,0,3
2,3,0,bihday your majesty,19,0,0
3,4,0,#model i love u take with u all the time in ...,116,3,1
4,5,0,factsguide: society now #motivation,38,0,1

<h2>
Challenge 3 - bag of hashtags
</h2>
<div class=h1_cell>
<p>
My goal is to add new columns to tweet_table that might be useful in classification. So far I have the length, number of !s and the number of hashtags. Three new columns. Cool. But I want more.
<p>
Next thing I want is to delve a little more deeply into the actual content of the hashtags for haters. There will be a lot of unique hashtags so I'll count them and choose the top 5. Here are my steps:
<p>
<ol>
<li>Generate a dictionary of all hashtags that counts occurence in non-hate and hate tweets. I'll show you below.
<li>Find the top 5 hashtags that appear in hate tweets.
</ol>
<p>
I'll get you started on some of this and let you finish it. Our goal is to create a dictionary `all_hashes` that contatins keys that are the hashes in all the tweets. The value of each key is how many times that key (i.e., hashtag) appears in non-hate tweets and hate tweets. I'll use a 2-element list to hold these 2 values. Let's do a couple by hand. I'll start arbitrarily with row 13.
</div>

In [26]:
all_hashes_test = {}  # starts out empty

In [27]:
row13 = tweet_table.iloc[13]
row13

id                                                           14
label                                                         1
tweet         @user #cnn calls #michigan middle school 'buil...
length                                                       72
bang_count                                                    0
hash_count                                                    3
Name: 13, dtype: object

In [28]:
row13_tweet = row13['tweet']
row13_tweet

"@user #cnn calls #michigan middle school 'build the wall' chant '' #tcot"

In [29]:
row13_label = row13['label']  # a hater
row13_label

1

<div class=h1_cell>
<p>
From this tweet, I can see 3 hashtags. I want to add each to `all_hashes_test` along with counts. Remember the counts are in a 2-element list with first element count for non-hate and second element for hate. Given that `row13` is a hate tweet, we give [0,1] to start things off.
</div>

In [30]:
all_hashes_test['#cnn'] = [0,1]
all_hashes_test['#michigan'] =  [0,1]
all_hashes_test['#tcot'] = [0,1]
all_hashes_test

{'#cnn': [0, 1], '#michigan': [0, 1], '#tcot': [0, 1]}

<div class=h1_cell>
<p>
Next I'll use a row that has #cnn but is a non-hate tweet.
</div>

In [31]:
row31628 = tweet_table.iloc[31628]
row31628

id                                                        31629
label                                                         0
tweet         #cnn is now as bad as #msnbc...down playing th...
length                                                       93
bang_count                                                    0
hash_count                                                    4
Name: 31628, dtype: object

In [32]:
row31628['tweet']

'#cnn is now as bad as #msnbc...down playing the role of islamic terrorism.   #media #donlemon'

In [33]:
row31628_label = row31628['label']  # non-hater
row31628_label

0

In [34]:
all_hashes_test['#cnn'][row31628_label] += 1  # label is 0 or 1 so use it to index the 2-element list
all_hashes_test

{'#cnn': [1, 1], '#michigan': [0, 1], '#tcot': [0, 1]}

In [35]:
# others are new so initialize them

all_hashes_test['#msnbc'] = [1,0]
all_hashes_test['#media'] =  [1,0]
all_hashes_test['#donlemon'] = [1,0]
all_hashes_test

{'#cnn': [1, 1],
 '#donlemon': [1, 0],
 '#media': [1, 0],
 '#michigan': [0, 1],
 '#msnbc': [1, 0],
 '#tcot': [0, 1]}

<div class=h1_cell>
<p>
Ok, turning over to you. Please finish this function and make sure it agrees with my results.
</div>

In [36]:
def count_all_hashes(table):

In [37]:
all_hashes = count_all_hashes(tweet_table)
print(all_hashes['#cnn'])  #appears in 5 nohate tweets and 10 hate tweets
print(all_hashes['#tcot'])
print(all_hashes['#media'])
print(all_hashes['#shalala'])

[5, 10]
[6, 14]
[18, 10]
[1, 0]

In [38]:
len(all_hashes)  # looks like 23K unique hashtags

23013

<div class=h1_cell>
<p>
Last step is getting top 5 hashtags from hate tweets.
<p>
Hint: the `sorted` function has useful optional parameters.
</div>

In [40]:
hash_sort = 
top5_hate = hash_sort[:5]
top5_hate

[('#trump', [44, 136]),
 ('#politics', [5, 95]),
 ('#allahsoil', [0, 92]),
 ('#libtard', [1, 76]),
 ('#liberal', [3, 75])]

<h2>
Challenge 4 - add the 5 new columns
</h2>
<div class=h1_cell>
<p>
Last wrangling step. Add 5 new columns for the top 5 hashtags, e.g., `#trump`, `#politics`, etc.
<p>
For any specific row, count how many times each of the 5 hashtags appears. Mostly, but not always, 0.
<p>
But before getting to that, there is a gotcha. Check out my code below.
</div>

In [41]:
all_hashes['#libtard']

[1, 76]

In [42]:
all_hashes['#libtards']

[1, 1]

<div class=h1_cell>
<p>
These are 2 separate hashtags in our dictionary. If you are not careful, you could end up matching on #libtard when it is actually #libtards that appears. That would be in error. You need to find a regex pattern that will match each of the 5 hashtags but not any hashtags that adda a suffix on to them, e.g., an s. And make it general, so it will not match on things like #trumper, #trumped, etc.
</div>

In [43]:
for tag in ['#trump', '#politics', '#allahsoil', '#libtard', '#liberal']:

In [44]:
tweet_table.head()

,id,label,tweet,length,bang_count,hash_count,#trump,#politics,#allahsoil,#libtard,#liberal
0,1,0,@user when a father is dysfunctional and is so...,101,0,1,0,0,0,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,122,0,3,0,0,0,0,0
2,3,0,bihday your majesty,19,0,0,0,0,0,0,0
3,4,0,#model i love u take with u all the time in ...,116,3,1,0,0,0,0,0
4,5,0,factsguide: society now #motivation,38,0,1,0,0,0,0,0

<div class=h1_cell>
<p>
Do a spot check on #libtard - did we pick up plurals? I am printing all the rows (2) that contain #libtards. I expect the value for the #libtard column to be 0 - we did not match #libtard with #libtards. If you see a 1 in the column, you have issues.
<p>
BTW: It seems to me the second row (27507) is a hate tweet but it is marked as non-hate. Go figure.
</div>

In [45]:
for i,row in tweet_table.iterrows():
    if '#libtards' in row['tweet']:
        print(row)

id                                                        18191
label                                                         1
tweet         @user now you wanna mock my country b/c you ha...
length                                                      120
bang_count                                                    0
hash_count                                                    1
#trump                                                        0
#politics                                                     0
#allahsoil                                                    0
#libtard                                                      0
#liberal                                                      0
Name: 18190, dtype: object
id                                                        27507
label                                                         0
tweet         nimwit #libtards that embrace #crookedhillary ...
length                                                       82
bang_count                                                    0
hash_count                                                    3
#trump                                                        0
#politics                                                     0
#allahsoil                                                    0
#libtard                                                      0
#liberal                                                      0
Name: 27506, dtype: object

<h2>
Challenge 5 - modify K-NN distance measure
</h2>
<div class=h1_cell>
<p>
We used Euclidean Distance in week 1. There is a more preferred measure for dealing with text analytics: cosine similarity. The general idea is that we view an n-vector as a line in n-space. Given 2 such vectors, we can determine their cosine similarity. This is from a (free!) online book that gives some good examples: https://nlp.stanford.edu/IR-book/pdf/06vect.pdf. We won't really need the cosine method until later but might as well start practicing with it now.
<p>
As a side note, for NLP problems there is often similarity between features. Maybe #trump and #libtard co-occur. In this case, we might want something slightly more complicated: the soft cosine measure (https://en.wikipedia.org/wiki/Cosine_similarity#Soft_cosine_measure). We may get back to this if time.
<p>
Implement the function please. I don't mind you pulling code off of the web but please refer to where you got it. And no libraries for this please. Want raw Python code.
<p>
<img src='https://www.dropbox.com/s/oi1ttx99hf0uejn/cosine.png?raw=1'>
</div>

In [46]:
def cosine_similarity(v1,v2):

In [47]:
knn_features = ['length', 'bang_count','hash_count','#trump','#politics','#allahsoil','#libtard','#liberal']

In [48]:
vector0 = tweet_table.loc[0, knn_features]
vector1 = tweet_table.loc[1, knn_features]

In [49]:
cosine_similarity(vector0, vector1)

0.99989218403907965

In [50]:
vector2 = tweet_table.loc[2, knn_features]
cosine_similarity(vector0, vector2)

0.9999509888009116

<div class=h1_cell>
<p>
Very similar. It kind of makes sense. We have a sparse matrix when looking just at the 5 hashtag columns. We will have to think a bit harder about this later.
<p>
</div>

<h2>
Challenge 6 - run K-NN on our data and see how we do
</h2>
<div class=h1_cell>
<p>
Let's try it out for row 0 as our target.
</div>

<div class=h1_cell>
<p>
Bring over your top_k function from week 1. If you did not finish it, email me and I'll send you my version. I modified top_k to add another parameter, the distance function to use. We have two at the moment: euclidean_distance and cosine_similarity.
<p>
Ditto for other week 1 functions - bring yours over or email me if you want me to send you my version.
<p>
To avoid copying answers from prior weeks, I decided to build my own private library to hold all my answers, e.g., euclidean_distance, knn_voting, etc. I placed it in my git folder and modified .gitignore to not push it to my github account. You might consider the same. You will have to import your library at top of notebook.
</div>

In [52]:
def top_k(table, features, target_row_id, k, dfunc):

<div class=h1_cell>
<p>
We are now working with 32K rows so I am going to start timing things.
<p>
Start with just checking row0.
<p>
</div>

In [53]:
import time

start = time.time()

topk_rows = top_k(tweet_table, knn_features, 0, 5, cosine_similarity)  # passing in distance function
    
end = time.time()
print(end - start)  # in seconds

54.5542709827

In [54]:
topk_rows

[(23890, 0.90942990115121136),
 (12654, 0.91879725393709022),
 (9346, 0.94238155596738615),
 (22174, 0.95501732797268557),
 (24664, 0.95714778249236898)]

In [55]:
#bring over from week 1

def knn_voting(table, target_column, topk_rows):

In [56]:
knn_voting(tweet_table, 'label', topk_rows)

0

In [57]:
for i,d in topk_rows:
    actual = tweet_table.loc[i,'label']
    print(actual)

0
0
0
0
0

In [58]:
tweet_table.loc[0, 'label']

0

<h2>
Now we have issues
</h2>
<div class=h1_cell>
<p>
I'd like to produce a confusion matrix just like we did for the Titanic. From above, I see that I took roughly a minute to compare the single row 0 to the other 32K rows. It appears to me that I will take roughly 32k minutes (533 hours) to do what I want. We are now bumping up against that O(n**2) that K-NN carries.
<p>
Here is what I propose. Let's take a random sample of a 500 rows from hater rows. Then take a random sample of 500 from non-hater rows. We will use this mixed table of 1000 to test on.
<p>
I am setting `random_state` to a constant so I get the same sequence of random numbers each time I run the code.
<p>
</div>

In [59]:
#Replace=False means I want 500 unique rows.

hate500_table = tweet_table[(tweet_table['label'] == 1)].sample(n=500, replace=False, random_state=11)

In [60]:

nohate500_table = tweet_table[(tweet_table['label'] == 0)].sample(n=500, replace=False, random_state=11)

In [3]:
test_table = pd.concat([hate500_table, nohate500_table ])

NameError: name 'pd' is not defined

In [62]:
test_table.describe()

,id,label,length,bang_count,hash_count,#trump,#politics,#allahsoil,#libtard,#liberal
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,15757.168000,0.50000,89.456000,0.420000,2.135000,0.026000,0.02000,0.018000,0.019000,0.017000
std,9273.944705,0.50025,30.777871,0.980082,2.236465,0.159215,0.14007,0.133018,0.136593,0.129336
min,18.000000,0.00000,14.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,7633.500000,0.00000,66.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,15855.500000,0.50000,95.000000,0.000000,2.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,23845.750000,1.00000,112.000000,0.000000,3.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,31949.000000,1.00000,231.000000,8.000000,13.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [63]:
test_table.head()

,id,label,tweet,length,bang_count,hash_count,#trump,#politics,#allahsoil,#libtard,#liberal
7441,7442,1,@user just asking....oh and of course black pe...,122,0,0,0,0,0,0,0
25442,25443,1,@user #allahsoil âwe the peopleâ originall...,123,0,1,0,0,1,0,0
22958,22959,1,i won't waste my time on some sob that has to...,129,0,0,0,0,0,0,0
25008,25009,1,@user @user your iconic brand being associated...,98,0,0,0,0,0,0,0
21956,21957,1,@user what do you think of #alexjones saying #...,124,0,3,0,0,0,0,0

<h2>
Indices are kind of screwy
</h2>
<div class=h1_cell>
<p>
I'd like to have indices going from 0 - 999. What I have now are the indices from the original tweet_table. I can call the `reset_index` method to do what I want. It also has the side effect of placing the old indices under a new column it builds: Index. Could come in handy later.

</div>

In [2]:
test_table = test_table.reset_index()
test_table.head()

NameError: name 'test_table' is not defined

<h2>
Ok, here goes
</h2>
<div class=h1_cell>
<p>
Give yourself something to do for 30 minutes or so while the code chugs.

</div>

In [65]:
start = time.time()

predictions = []
for i,row in test_table.iterrows():
    if i%100 == 0: print('did 100')
    top5 = top_k(test_table, knn_features, i, 5, cosine_similarity)
    predictions.append(knn_voting(test_table, 'label', top5))
    
end = time.time()
print(end - start)  # in seconds

did 100
did 100
did 100
did 100
did 100
did 100
did 100
did 100
did 100
did 100
1740.6418612

<h2>
Whew, have some results
</h2>
<div class=h1_cell>
<p>
Took me roughly 30 minutes for the 1000 row table. Roughly 1.7 seconds/row.
<p>Let's see how we did.
</div>

In [66]:
actuals = test_table['label']  #easy peasy to pull a column out of a table
zipped = zip(predictions,actuals)

In [67]:
confusion_dictionary = {(1,1):0, (1,0):0, (0,1):0, (0,0):0}
for pair in zipped:
    confusion_dictionary[pair] += 1
confusion_dictionary

{(0, 0): 493, (0, 1): 499, (1, 0): 7, (1, 1): 1}

In [68]:
(493+1)/1000.

0.494

<h2>
Uh, that's kind of bad
</h2>
<div class=h1_cell>
<p>
We would have done better with a coin flip. Lot's of reasons why our results are poor. In the next module, I'd like to look at a modeling technique that is often better suited to text analytics problem. See you there.
</div>

<h2>
Write the table
</h2>
<div class=h1_cell>
<p>
Before you leave, write the tweet_table out to file. We did a lot of wrangling on it so let's save what we have done.
</div>

In [69]:
week = '2' # change this each version

home_path =  os.path.expanduser('~')

file_path = '/Dropbox/cis399_ds2_w18/table_history/'  #use your own path

file_name = 'tweet_table_w'+week+'.csv'

tweet_table.to_csv(home_path + file_path + file_name, index=False)